{
  "developmentMode" : false,
  "token" : "<inser-token>",
  "mysqlConfig": {
    "url": "localhost:8080",
    "dbname": "tphbot",
    "username": "<insert-user>",
    "password": "<insert-pass>"
  }
}